<!DOCTYPE html>
<html>
<head>
	<title>Pannello lezioni</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/admin_panel.css">
	<link rel="stylesheet" href="/css/materialize.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/js/admin_lessons_script.js" type="text/javascript"></script>
</head>
<body>
	<div class="insert-lessons">
		<h4 class="flow-text">In questa sezione ci si prende l'impegno di rispettare la lezione
		lo stesso giorno per un mese di fila. Ad esempio inserendo il prossimo lunedì in realtà inserirai le lezioni di lunedì all'ora inserita per un mese intero, in alternativa sotto puoi inserire una singola lezione manualmente o rimuovere una già presente.</h4>
		
		<div class="input-field">
			<input id="book_assurance" class="validate" type="datetime-local">
		</div>	
		<div class="input-field">
			<input id="book_assurance_number" class="validate" type="number" value="8">
			<label for="book_assurance_number">Capienza:</label>
			<button id="book_assurance_btn" class="btn waves-effect waves-light">Crea lezioni</button>
		</div>
	</div>
	<div class="insert-single-lesson">
		<h4 class="flow-text">In questa sezione puoi inserire una singola lezione della durata di 1 ora</h4>

		<div class="input-field">
			<input id="book_single" class="validate" type="datetime-local">
		</div>
		<div class="input-field">
			<input id="book_single_number" class="validate" type="number" value="8">
			<label for="book_single_number">Capienza:</label>
			<button id="book_single_btn" class="btn waves-effect waves-light">Crea lezione</button>
		</div>
	</div>
	<div class="view-lessons">
		<h4 class="flow-text">In questa sezione vedrai le lezioni già inserite e potrai rimuoverle singolarmente</h4>
		<table class="centered striped">
			<thead class="teal">
				<tr>
					<th>Giorno</th>
					<th>Ora</th>
					<th>Capienza</th>
					<th>Id lezione</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="grey lighten-1">
				<% if (lessons) { %>
				<% for (var i in lessons) { %>
					<tr>
						<% for (var j in lessons[i]) { %>
							<td><%= lessons[i][j] %></td>
						<% } %>
						<td><button id="<%= lessons[i].id %>_remove" class="remove-btn btn waves-effect waves-light">Rimuovi</button></td>
					</tr>
				<% } %>
				<% } %>
			</tbody>
		</table>
	</div>

	<script type="text/javascript" src="/js/materialize.min.js"></script>
</body>
</html>