body{
	background-color: #222;
	color:#fff;
}

#description-area{
	width:360px;
	height:55px;
}

textarea,input{
	color:#fff;
}

td{
	color:black;
}

select{
	display:block!important	;
	opacity:100 !important;
}